*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(360deg, rgb(245, 222, 179), rgba(253, 243, 224, 0.74),rgba(248, 243, 232, 0.74));
}


.menu-nav{
    background-color: white;
    width: 100vw;
    height:8vh;
    /* border-bottom: 2px solid purple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 50px 50px rgba(0, 0, 0,.1);
}

.menu-dropdown{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding:7px;
    margin-left: 15px;
    gap: 30px;
    height: 100%;
    align-items: center;
    
}

.dropdown {
  position: relative;
  display: inline-block;
    
}

.dropdown p {
    text-align: center;
}

.dropbtn{
    text-align: center;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
font-size: 15;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
} */

.menu-dropdown img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-items: center;
}

.menu-nav .perfil{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.menu-nav .perfil h3 {

    text-align: end;
    font-weight: 500;
    line-height: 1rem;
    color: #555;
}

.menu-nav .perfil h3 span {

   font-size: .75rem;
   color: #777;
}

.menu-nav .perfil .imgcx {

    position: relative;
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.menu-nav .perfil .imgcx img{

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-nav .menu{
    position: absolute;
    top: 7.9%;
    right: 0;
    width: 200px;
    min-height: 100px;
    background-color: white;
    box-shadow: 0 50px 50px rgba(0, 0, 0,.1);
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.menu-nav .menu.ativo{
    opacity: 1;
    visibility: visible;
}

.menu-nav .menu::before{
    
    content: '';
    position: absolute;
    top: -8px;
    right: 35px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transform: rotate(45deg);
}

.menu-nav .menu ul{
    display: flex;
    flex-direction: column;
    background-color: white;
    list-style: none;

}


.menu-nav .menu ul li{
    
    padding: 15px 20px;
    transition: .5s;
    
}
.menu-nav .menu ul li:hover{
    
    transition: 0s;
    background: linear-gradient(360deg, rgb(245, 222, 179), rgba(253, 243, 224, 0.74),rgba(248, 243, 232, 0.74));
    
}

.menu-nav .menu ul li a{
    
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.menu-nav .menu ul li a ion-icon{
    font-size: 1.25rem;
    color: #999;
}


